.console {
    padding: 3rem 8rem;
}

.console__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.console__titulo {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: .5rem;
}

.console__conteudo {
    display: flex;
    justify-content: space-between;
}

.console__item {
    display: flex;
    flex-direction: column;
    width: 15%;
}

.console__seta {
    display: flex;
    align-items: center;
    color: var(--azul-claro);
}

.console__seta-paragrafo {
    font-size: 1.1rem;
    font-weight: bold;
    margin-right: .5rem;
}

.console__item-titulo {
    color: gray;
    margin: .2rem 0 .4rem 0;
}

.console__item-preco {
    font-weight: bold;
    margin-bottom: .4rem;
}

.console__item-link {
    font-weight: bold;
    color: var(--azul-claro);
}

