.star-wars {
    padding: 3rem 8rem;
}

.star-wars__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.star-wars__titulo {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: .5rem;
}

.star-wars__conteudo {
    display: flex;
    justify-content: space-between;
}

.star-wars__item {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 15%;
}

.star-wars__seta {
    display: flex;
    align-items: center;
}